.vscode
__pycache__
libs\__pycache__
obsolete
compile
test files
*.pyc
*.svg
*.tcl
*.png
*.toc
*.pyz
*.zip
*.manifest
*.pkg
*.html
*.tcl
*.gif
*.exe
Compiler/dist/*
Compiler/build/*
translator/*
*.n7
