altgraph==0.17
astroid==2.4.2
backstage==0.0.9
buildver==0.0.3
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==8.0.1
codegame==0.0.4
codeval==0.0.2
colorama==0.4.4
compoundfiles==0.3
cryptography==3.3.1
customtkinter==3.8
darkdetect==0.5.1
defusedxml==0.6.0
et-xmlfile==1.0.1
future==0.18.2
gaspium==0.0.4
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-core==1.4.3
google-cloud-logging==1.15.1
google-cloud-storage==1.32.0
google-cloud-translate==3.0.1
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
hackernote==0.0.2
hubstore==0.1.4
idna==2.10
install==1.3.4
isort==5.6.4
jdcal==1.4.1
jira==2.0.0
joblib==1.0.1
jupitest==0.0.14
kurl==0.0.6
language-tool-python==2.5.3
lazy-object-proxy==1.4.3
libcst==0.3.13
litedao==0.0.7
litemark==0.0.4
lxml==4.6.1
mccabe==0.6.1
megawidget==0.0.6
mypy-extensions==0.4.3
nltk==3.6.2
numpy==1.20.3
oauthlib==3.1.0
openpyxl==3.0.5
outlook-msg==1.0.0
pandas==1.2.4
pbr==5.5.1
pefile==2019.4.18
Pillow==8.0.1
probed==0.0.9
proto-plus==1.11.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyglet==1.5.23
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
PyJWT==2.0.0
pylint==2.6.0
pyperclip==1.8.1
pyrustic==0.1.12
python-dateutil==2.8.1
python-docx==0.8.10
python-pptx==0.6.18
pytz==2020.4
pywin32==303
pywin32-ctypes==0.2.0
PyYAML==5.3.1
regex==2021.4.4
requests==2.25.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.6
rustiql==0.0.14
setupinit==0.0.2
shared==0.0.12
six==1.15.0
subrun==0.0.3
suggestion==0.0.6
threadom==0.0.6
tkf==0.0.4
tkhtmlview==0.1.0.post1
tkutil==0.0.7
toml==0.10.2
tqdm==4.61.0
ttkthemes==3.2.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
viewable==0.0.6
winter-theme==0.0.4
WMI==1.5.1
wrapt==1.12.1
XlsxWriter==1.3.7
